body {
  font-family: RalewayRegular, sans-serif;
}

h1, h2, h3 {
  font-family: RalewayBold, sans-serif;
  color: $bh-primary;
}

.bg-primary, .bg-dark {
  color: white;

  h1, h2, h3 {
    color: white;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

span.bg-white {
  color: $primary;
}

.bh-bg-line {
  background: url("/static/img/bg-line.png") repeat-y center 0,
  url("/static/img/bg-dot.png") no-repeat center 10px;
}


.test > div {
  outline: 1px solid pink;
}
