body {
  font-family: RalewayRegular, sans-serif;
}

h1, h2, h3 {
  font-family: RalewayBold, sans-serif;
  color: $bh-primary;
}

.bg-primary, .bg-dark {
  color: white;

  h1, h2, h3 {
    color: white;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

span.bg-white {
  color: $primary;
}

@include media-breakpoint-up(md) {
  .bh-bg-line {
    position: relative;
    background: url("/static/img/bg-line.png") repeat-y center 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 4px;
      height: 8px;
      top: 0;
      left: calc(50% - 2px);
      background: $bh-beige;
    }

    > div {
      background: url("/static/img/bg-dot.png") no-repeat center 0.5rem;
    }
  }
}

.test > div {
  outline: 1px solid pink;
}
